@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(3, 94, 3);
}

.navbar {
  background-color: grey;
}
.navbar .container {
  height: 50px;
  margin: 0;
}
.navbar .container .primary-nav {
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 7em;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
}
.navbar .container .primary-nav a {
  text-decoration: none;
  color: white;
  margin: 1em;
  padding: 0 0.5em 0 0;
  border-right: 2px solid white;
}
.navbar .container .primary-nav .jobs {
  border-right: unset;
}
.navbar .container .primary-nav .number {
  padding-top: 3.5em;
  background-color: rgb(235, 90, 35);
  border-radius: 5px;
  color: white;
}
.navbar .container .primary-nav li {
  padding-top: 1em;
}

.mid-container {
  margin-left: 5em;
  margin-right: 7em;
  align-items: center;
}
.mid-container .tab-container {
  margin-left: 10.4em;
  margin-top: -3em;
}
.mid-container a {
  text-decoration: none;
}
.mid-container li {
  margin: 0.5em;
}
.mid-container .tab-container-list {
  list-style-type: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-top: 1em;
  text-transform: uppercase;
  gap: 0.7em;
}
.mid-container .tab-container-list button {
  border-radius: 4px;
  text-transform: uppercase;
}
.mid-container .tab-container-list li {
  background-color: gray;
}
.mid-container .tab-container-list .buttons {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
}
.mid-container #architect {
  background-color: rgb(235, 90, 35);
  border: none;
  cursor: pointer;
  color: white;
}
.mid-container .headline {
  padding: 1em;
  background-image: linear-gradient(to right, green, white);
  color: white;
}

.abc {
  width: 100%;
  height: 20em;
}

.image1, .image2, .image3, .image4, .image5, .image6 {
  color: var(--primary-color);
}

.banner-outer-container {
  background-color: var(--primary-color);
  height: 20em;
}

.banner-container {
  margin-left: 5em;
  margin-right: 7em;
  height: 20em;
}

.headline-outer {
  background-color: rgb(232, 231, 231);
}

.headline {
  margin-left: 5em;
  margin-right: 7em;
  padding: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, rgb(3, 94, 3), white);
}

.inner-mid {
  margin-left: 5em;
  margin-right: 7em;
  background-color: white;
}

.second-inner-mid {
  padding: 2em;
}

.three-element {
  color: var(--primary-color);
  font-weight: bold;
  font-size: large;
}

#arrow {
  background-color: white;
  border-radius: 11px;
}

.dv1 {
  display: flex;
}
.dv1 .dv2 {
  margin-top: 2em;
}
.dv1 .dv2 button {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 3em;
}
.dv1 .dv2 img {
  margin-left: 1em;
}

.view-projects {
  margin: 1em 2em 0 0;
}

.desc {
  margin: 1em 2em 1em 0;
}

.six-image {
  flex-wrap: wrap;
  margin-top: 2em;
}
.six-image .image-container {
  display: flex;
  gap: 4.6em;
  flex-wrap: wrap;
}
.six-image .buton {
  display: flex;
  align-items: center;
}
.six-image .buton p {
  margin-right: 1em;
}
.six-image p {
  font-weight: bold;
}
.six-image .view-projects {
  color: var(--primary-color);
  font-weight: bold;
  font-size: larger;
}
.six-image .button2 {
  width: 40%;
}

.desc-container {
  display: flex;
  justify-content: space-between;
}
.desc-container .desc {
  width: 70%;
}
.desc-container button {
  background-color: black;
  color: white;
  height: 3em;
  border-radius: 5px;
}

.mid-btm {
  background-color: rgb(217, 219, 220);
  padding: 0 4em;
}
.mid-btm .btm-head {
  color: var(--primary-color);
}

.footer-container {
  background-color: rgb(104, 104, 104);
  color: white;
}
.footer-container .upper-left {
  display: flex;
  justify-content: center;
}
.footer-container .left-content {
  list-style-type: none;
}
.footer-container .footer-upper-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5em;
}
.footer-container .left-content {
  list-style-type: none;
}
.footer-container .upper-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-left: 7em;
}
.footer-container .upper-right .fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 0.2em;
}
.footer-container .upper-right .fa:hover {
  opacity: 0.7;
}
.footer-container .upper-right .fa-facebook {
  background: white;
  color: var(--primary-color);
}
.footer-container .upper-right .fa-twitter {
  background: white;
  color: var(--primary-color);
}
.footer-container .upper-right .fa-google {
  background: white;
  color: var(--primary-color);
}
.footer-container .upper-right .fa-linkedin {
  background: white;
  color: var(--primary-color);
}
.footer-container .upper-right .fa-youtube {
  background: white;
  color: var(--primary-color);
}
.footer-container .upper-right .fa-pinterest {
  background: white;
  color: var(--primary-color);
}
.footer-container .upper-right .fa-skype {
  background: white;
  color: var(--primary-color);
}
.footer-container .footer-lowest-container {
  text-align: center;
  font-size: large;
}
.footer-container .footer-middle-container {
  text-align: center;
  margin: 2em 0;
  font-size: large;
}
.footer-container .footer-lower-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-container .footer-lower-container {
  margin: 2em 0;
  font-size: large;
}

.footer-low {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: large;
}

.btm-head {
  padding: 1em 0;
  font-weight: bold;
  font-size: large;
}

.mid-lower {
  padding: 1em 0;
}

.upper-right {
  width: 70%;
}/*# sourceMappingURL=main.css.map */